.idea{
    border: thin solid var(--color-dimmed);
    border-radius: 20px;
    padding: 1em;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: min(100%, 800px);
}
.idea:hover,
.idea:focus,
.idea:active {
  color: var(--color-action);
  border-color: var(--color-action);
}
.title{
    margin: 0;
    font-size: 1.5em;
    color: black;
    cursor:pointer;
}
div.tags{
    padding: 0.3em 0 0.3em 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
h4.tags{
    margin: 0;
    color: black;
    font-size: 1em;
}
span.tags{
    color: black;
    font-size: 0.75em;
    font-weight: 600;
    background-color: var(--color-dimmed);
    border-radius: calc(0.75em + 10px);
    padding: 5px;
    cursor: pointer;

    transition: color 0.15s ease, background-color 0.15s ease;
}
span.tags:hover{
    background-color: var(--color-action);
    color: white;
}
.content{
    margin: 0;
    color: black;
}
.IdeaFooter{
    --horizontal-margin: 0;
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.75em;
    border-top: thin solid var(--color-dimmed);
    margin: 15px var(--horizontal-margin) 5px var(--horizontal-margin);
    padding-top: 5px;
}
.timeCreated{
    margin: 0 auto 0 0;
}
div.favorite{
    display: flex;
    align-items: center; 
    margin: 0;
    transition: fill 0.15s ease;
}
p.favorite{
    margin: 0;
    color: black;
}
svg.favorite{
    cursor: pointer;
}
svg.favorite:hover,
svg.favorite:focus,
svg.favorite:active {
  fill: #ffdf00; 
}